/* General Styles for screen size <= 300px */
@media screen and (max-width: 300px) {
  html {
    font-size: 48%;
  }
}

/* General Styles for screen size <= 230px */
@media screen and (max-width: 230px) {
  * {
    word-wrap: break-word;
  }

  html {
    font-size: 38%;
  }
}

/* General Styles for screen size <= 180px */
@media screen and (max-width: 180px) {
  html {
    font-size: 25%;
  }
}

/* General Styles for screen size >= 1200px */
@media screen and (min-width: 1200px) {
  .primary-btn {
    padding: 0.8em 1.5em;
  }

  // Navbar Start
  .navbar {
    .navbar-right {
      .nav-links {
        display: revert;
        position: initial;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 0;
        background-color: initial;

        li {
          padding: 0 0 0.3rem 0;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $black;
            width: 0;
            bottom: 0;
            transition: all 0.3s linear;
            left: 0;
          }

          &:hover::after {
            width: 100%;
          }

          a {
            color: $black;
          }
        }

        button {
          display: none;
        }
      }

      .toggle-btns {
        button {
          display: initial;
        }

        .toggle-bar {
          display: none;
        }
      }
    }
  }
  // Navbar End
}
