/* General Styles for screen size <= 300px */
@media screen and (max-width: 300px) {
  html {
    font-size: 48%;
  }
}

/* General Styles for screen size <= 230px */
@media screen and (max-width: 230px) {
  * {
    word-wrap: break-word;
  }

  html {
    font-size: 38%;
  }
}

/* General Styles for screen size <= 180px */
@media screen and (max-width: 180px) {
  html {
    font-size: 25%;
  }
}

/* General Styles for screen size >= 490px */
@media screen and (min-width: 490px) {
  .common-padding-inline {
    padding-inline: 3rem;
  }

  // Navbar Start
  .navbar {
    .navbar-right {
      .toggle-btns {
        button {
          display: initial;
        }
      }
    }
  }
  // Navbar End

  // Selected Work Section Start
  .selected-work {
    .selected-work-boxes {
      flex-direction: row;
    }

    .selected-work-boxes:last-child {
      flex-direction: row-reverse;
    }
  }
  // Selected Work Section End
}

/* General Styles for screen size >= 768px */
@media screen and (min-width: 768px) {
  .primary-heading {
    font-size: clamp(40px, 6.5vw, 96px);
  }

  .secondary-heading {
    font-size: clamp(30px, 5.5vw, 80px);
  }

  .common-padding-inline {
    padding-inline: 5rem;
  }

  .navbar {
    padding-block: 2.5rem;
  }

  // Services Section Start
  .services {
    .services-text {
      .services-boxes {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
      }
    }
  }
  // Services Section End

  // Selected Work Section Start
  .selected-work {
    .selected-work-boxes {
      & > div:last-child {
        h4 {
          font-size: 5.6rem;
        }
      }
    }
  }
  // Selected Work Section End
}

/* General Styles for screen size >= 1200px */
@media screen and (min-width: 990px) {
  .common-padding-inline {
    padding-inline: 6rem;
  }

  // Navbar Start
  .navbar {
    padding-block: 3.5rem;

    .navbar-right {
      .nav-links {
        display: revert;
        position: initial;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 0;
        background-color: initial;

        li {
          padding: 0 0 0.3rem 0;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $black;
            width: 0;
            bottom: 0;
            transition: all 0.3s linear;
            left: 0;
          }

          &:hover::after {
            width: 100%;
          }

          a {
            color: $black;
          }
        }

        button {
          display: none;
        }
      }

      .toggle-btns {
        button {
          display: initial;
        }

        .toggle-bar {
          display: none;
        }
      }
    }
  }
  // Navbar End

  // Hero Section Start
  .hero {
    .hero-top-text {
      & > div {
        margin-top: 1.3rem;
      }
    }

    .hero-bottom {
      margin-top: 5rem;
      flex-direction: row-reverse;
      gap: 5rem;

      .hero-bottom-img {
        flex: 1;
      }

      .hero-bottom-text {
        padding-block: 2rem;
        flex: 1;

        p {
          font-size: 2.2rem;
          font-weight: 400;
        }
      }
    }
  }
  // Hero Section End

  // Tailored Section Start
  .tailored {
    flex-direction: row;
    gap: 5rem;

    .tailored-img {
      flex: 0.5;
    }

    .tailored-text {
      flex: 1;
      flex-direction: row-reverse;
      padding-block: 2rem;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          width: 75%;
        }
      }
    }
  }
  // Tailored Section End

  // Services Section Start
  .services {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    .services-text {
      flex: 1;
      padding-block: 2rem;
    }

    .services-img {
      flex: 1;
    }
  }
  // Services Section End

  // Selected Work Section Start
  .selected-work {
    gap: 5rem;

    .selected-work-boxes {
      flex-direction: row;

      & > div:nth-child(2) {
        display: initial;
      }

      & > div:last-child {
        h4 {
          font-size: clamp(20px, 4.5vw, 64px);
        }
      }
    }
  }
  // Selected Work Section End
}
