/* General Styles for screen size <= 300px */
@media screen and (max-width: 300px) {
  html {
    font-size: 48%;
  }
}

/* General Styles for screen size <= 230px */
@media screen and (max-width: 230px) {
  * {
    word-wrap: break-word;
  }

  html {
    font-size: 38%;
  }
}

/* General Styles for screen size <= 180px */
@media screen and (max-width: 180px) {
  html {
    font-size: 25%;
  }
}

/* General Styles for screen size >= 490px */
@media screen and (min-width: 490px) {
  .site-wrapper {
    padding-inline: 3rem;
  }

  .navbar {
    .navbar-right {
      .toggle-btns {
        button {
          display: initial;
        }
      }
    }
  }
}

/* General Styles for screen size >= 768px */
@media screen and (min-width: 768px) {
  .site-wrapper {
    padding-inline: 5rem;
  }

  .navbar {
    padding-block: 2.5rem;
  }
}

/* General Styles for screen size >= 1200px */
@media screen and (min-width: 990px) {
  .site-wrapper {
    padding-inline: 6rem;
  }

  // Navbar Start
  .navbar {
    padding-block: 3.5rem;

    .navbar-right {
      .nav-links {
        display: revert;
        position: initial;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 0;
        background-color: initial;

        li {
          padding: 0 0 0.3rem 0;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: $black;
            width: 0;
            bottom: 0;
            transition: all 0.3s linear;
            left: 0;
          }

          &:hover::after {
            width: 100%;
          }

          a {
            color: $black;
          }
        }

        button {
          display: none;
        }
      }

      .toggle-btns {
        button {
          display: initial;
        }

        .toggle-bar {
          display: none;
        }
      }
    }
  }
  // Navbar End

  // Hero Section Start
  .hero {
    .hero-top-text {
      & > div {
        margin-top: 1.3rem;
      }
    }

    .hero-bottom {
      margin-top: 5rem;
      flex-direction: row-reverse;
      gap: 5rem;

      .hero-bottom-img {
        flex: 1;
      }

      .hero-bottom-text {
        flex: 1;

        h1 {
          font-size: calc(5.4vw, 5.4vw, 110px);
        }

        p {
          font-size: 2.2rem;
          font-weight: bold;
          margin-block: 2rem 4rem;
        }
      }
    }
  }
  // Hero Section End
}
