// Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

// Reset Default Styles Start
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $secondary-font-family;
}

html {
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: $black;
  height: 800px;
}
// Reset Default Styles End

// Common Styles for Frequently Used Elements Start
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: $primary-font-family;
}
// Common Styles for Frequently Used Elements End

// Page-Specific Styles Start
.site-wrapper {
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;

  .logo {
    width: 6rem;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;

    #checkbox-for-toggle {
      display: none;
    }

    #checkbox-for-toggle:checked + .nav-links {
      display: flex;
    }

    #checkbox-for-toggle:checked
      ~ .toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(2) {
      opacity: 0;
    }

    #checkbox-for-toggle:checked
      ~ .toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(1) {
      transform-origin: right top;
      transform: rotate(-37deg);
    }

    #checkbox-for-toggle:checked
      ~ .toggle-btns
      .toggle-bar
      .toggle-bar-line:nth-child(3) {
      transform-origin: right bottom;
      transform: rotate(35deg);
    }

    .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      font-size: 1.3rem;
      font-weight: 400;
      background-color: $black;
      padding: 2rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      li {
        padding-block: 1em;
        letter-spacing: 0.5px;

        a {
          color: $white;
        }
      }

      button.primary-btn {
        margin-top: 1rem;
        width: 100%;
        background-color: $white;
        color: $black;
      }
    }

    .toggle-btns {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      cursor: pointer;

      & > span {
        font-size: 1.3rem;
        font-weight: 400;
      }

      button {
        display: none;
      }

      .toggle-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.9rem;
      }

      .toggle-bar {
        .toggle-bar-line {
          width: 3.2rem;
          height: 0.1rem;
          background-color: $black;
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}

// Page-Specific Styles End
