.primary-btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: $secondary-font-family;
  background-color: $black;
  color: $white;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.8em 1.5em;
  letter-spacing: 0.2px;
  border-radius: 2rem;
  text-transform: uppercase;

  div {
    span:last-child {
      display: none;
    }
  }
}

.primary-heading {
  font-size: 4.4rem;
}

.secondary-heading {
  font-size: 4rem;
}

.common-padding-inline {
  padding-inline: 2.3rem;
}
