@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.primary-btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Roboto Mono", serif;
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.8em 1.5em;
  letter-spacing: 0.2px;
  border-radius: 2rem;
  text-transform: uppercase;
}
.primary-btn div span:last-child {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #000;
  height: 8000px;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Mulish", serif;
}

.site-wrapper {
  padding-inline: 2.3rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-block: 2.2rem;
}
.navbar .logo {
  width: 6rem;
}
.navbar .navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar .navbar-right #checkbox-for-toggle {
  display: none;
}
.navbar .navbar-right #checkbox-for-toggle:checked + .nav-links {
  display: flex;
}
.navbar .navbar-right #checkbox-for-toggle:checked ~ .toggle-btns .toggle-bar .toggle-bar-line:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-right #checkbox-for-toggle:checked ~ .toggle-btns .toggle-bar .toggle-bar-line:nth-child(1) {
  transform-origin: right top;
  transform: rotate(-37deg);
}
.navbar .navbar-right #checkbox-for-toggle:checked ~ .toggle-btns .toggle-bar .toggle-bar-line:nth-child(3) {
  transform-origin: right bottom;
  transform: rotate(35deg);
}
.navbar .navbar-right .nav-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #000;
  padding: 2rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.navbar .navbar-right .nav-links li {
  padding-block: 1em;
  letter-spacing: 0.5px;
}
.navbar .navbar-right .nav-links li a {
  color: #fff;
}
.navbar .navbar-right .nav-links button.primary-btn {
  margin-top: 1rem;
  width: 100%;
  background-color: #fff;
  color: #000;
}
.navbar .navbar-right .toggle-btns {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
}
.navbar .navbar-right .toggle-btns > span {
  font-size: 1.3rem;
  font-weight: 400;
}
.navbar .navbar-right .toggle-btns button {
  display: none;
}
.navbar .navbar-right .toggle-btns .toggle-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}
.navbar .navbar-right .toggle-btns .toggle-bar .toggle-bar-line {
  width: 3.2rem;
  height: 0.1rem;
  background-color: #000;
  transition: all 0.2s ease-out;
}

.hero .hero-top-text > div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.hero .hero-top-text > div p {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.hero .hero-bottom {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero .hero-bottom .hero-bottom-img {
  aspect-ratio: 1;
}
.hero .hero-bottom .hero-bottom-img img {
  height: 100%;
}
.hero .hero-bottom .hero-bottom-text h1 {
  font-size: 4rem;
  font-weight: 360;
  line-height: 1;
}
.hero .hero-bottom .hero-bottom-text p {
  font-size: 1.8rem;
  font-weight: 360;
  margin-block: 2rem 4rem;
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services .service {
  display: flex;
  justify-content: space-between;
}
.hero .hero-bottom .hero-bottom-text .hero-bottom-services .service h4 {
  font-size: 2.7rem;
  font-weight: 360;
}

/* General Styles for screen size <= 300px */
@media screen and (max-width: 300px) {
  html {
    font-size: 48%;
  }
}
/* General Styles for screen size <= 230px */
@media screen and (max-width: 230px) {
  * {
    word-wrap: break-word;
  }
  html {
    font-size: 38%;
  }
}
/* General Styles for screen size <= 180px */
@media screen and (max-width: 180px) {
  html {
    font-size: 25%;
  }
}
/* General Styles for screen size >= 490px */
@media screen and (min-width: 490px) {
  .site-wrapper {
    padding-inline: 3rem;
  }
  .navbar .navbar-right .toggle-btns button {
    display: initial;
  }
}
/* General Styles for screen size >= 768px */
@media screen and (min-width: 768px) {
  .site-wrapper {
    padding-inline: 5rem;
  }
  .navbar {
    padding-block: 2.5rem;
  }
}
/* General Styles for screen size >= 1200px */
@media screen and (min-width: 990px) {
  .site-wrapper {
    padding-inline: 6rem;
  }
  .navbar {
    padding-block: 3.5rem;
  }
  .navbar .navbar-right .nav-links {
    display: revert;
    position: initial;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0;
    background-color: initial;
  }
  .navbar .navbar-right .nav-links li {
    padding: 0 0 0.3rem 0;
    position: relative;
  }
  .navbar .navbar-right .nav-links li::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 0;
    bottom: 0;
    transition: all 0.3s linear;
    left: 0;
  }
  .navbar .navbar-right .nav-links li:hover::after {
    width: 100%;
  }
  .navbar .navbar-right .nav-links li a {
    color: #000;
  }
  .navbar .navbar-right .nav-links button {
    display: none;
  }
  .navbar .navbar-right .toggle-btns button {
    display: initial;
  }
  .navbar .navbar-right .toggle-btns .toggle-bar {
    display: none;
  }
  .hero .hero-top-text > div {
    margin-top: 1.3rem;
  }
  .hero .hero-bottom {
    margin-top: 5rem;
    flex-direction: row-reverse;
    gap: 5rem;
  }
  .hero .hero-bottom .hero-bottom-img {
    flex: 1;
  }
  .hero .hero-bottom .hero-bottom-text {
    flex: 1;
  }
  .hero .hero-bottom .hero-bottom-text h1 {
    font-size: 5.4vw;
  }
  .hero .hero-bottom .hero-bottom-text p {
    font-size: 2.2rem;
    margin-block: 2rem 4rem;
  }
}